Sphinx==1.8.1
numpydoc==0.9.2
sphinx_rtd_theme==0.4.3
jinja2==3.0.3
sphinx-autoapi
matplotlib 
pandas 
scikit-learn 
natsort
keras
sobol-seq
vtk
SALib
seaborn 
jupyter 
six>=1.16.0
numexpr>=2.8.0
jsonpickle>=2.1.0
h5py>=3.6.0
dill>=0.3.4
sparse>=0.13.0
joblib>=1.1.0
progress>=1.6
