Sphinx==1.8.1
numpydoc==0.9.2
sphinx_rtd_theme==0.4.3
sphinx-autoapi
matplotlib 
pandas 
scikit-learn 
natsort
keras==2.3.1
tensorflow==2.5.3
tensorflow-probability==0.13.0
sobol-seq
vtk
SALib
seaborn 
jupyter 
six
numexpr
jsonpickle
h5py
dill
sparse
joblib
progress
